body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}
.title {
    color: black;
    font-size: 36px;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

#Tablero {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-gap: 5px;
    margin: 20px 0;
    padding: 20px 40px;
    border: 1px solid grey;
    width: max-content;
}

.cajadeletra {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 5px;
}

.letraverde{
    background-color: green;

}

.letraamarilla{
    background-color: yellow;
}

.letragris{
    background-color: grey;
}